.main-section{
  margin: 10px;
  padding: 10px;
}

table, th, td {
  border: 1px solid;
}

th{
  padding: 10px;
}

.table-section{
  padding: 10px;
  margin: 20px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content:center;

}

tr{
  width: 100%;
  
  justify-content:center;
  text-align: center;

}

/* .show-table{
  display: 
} */